doctype
html
    header
        title Edit Course
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
    body
        h1.text-danger.col-sm-10 Edit Course 
        form(action = "/EditCourse/:id",method = 'PUT')
            div.form-group.col-sm-10
                input(type= 'text', name='Course',placeholder=course.Course).form-control
            div.form-group.col-sm-10
                input(type= 'text', name='Time', placeholder='Time').form-control
            div.form-group.col-sm-10
                input(type= 'text', name='CourseCode', placeholder='Course Code').form-control
            div.form-group.col-sm-10
                input(type= 'text', name='EnrolmentTime', placeholder='Enrolment Time').form-control
            div.form-group.col-sm-10
                input(type= 'text', name='NumberOfCredits', placeholder='Number Of Credits').form-control
            div.form-group.col-sm-10
                input(type= 'submit', value='Save').btn.btn-primary
        div 
            a(href='/').btn.btn-link Back to Main Page